{:paths ["src/clojure" "target/classes"]
 :deps/prep-lib
 {:ensure "target/classes"
  :alias :build
  :fn compile-java}
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.slf4j/slf4j-api {:mvn/version "1.7.36"}
        org.slf4j/jul-to-slf4j {:mvn/version "1.7.36"}
        org.slf4j/jcl-over-slf4j {:mvn/version "1.7.36"}
        io.aviso/pretty {:mvn/version "1.1.1"}
        aero/aero {:mvn/version "1.1.6"}}
 :aliases {:dev {:extra-paths ["dev" "test"]
                 :extra-deps {org.clojure/tools.logging {:mvn/version "1.2.4"}}
                 :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
                            "-Ddialog.profile=repl"]}
           :build {:deps {org.clojure/clojure {:mvn/version "1.11.1"}
                          org.slf4j/slf4j-api {:mvn/version "1.7.36"}
                          org.clojure/tools.build {:mvn/version "0.8.4"}}
                   :ns-default build}
           :test {:extra-paths ["test"]
                  :main-opts ["-m" "kaocha.runner"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}}}}}