{:paths
 ["src/clojure"
  "target/classes"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  org.slf4j/slf4j-api {:mvn/version "1.7.36"}
  org.slf4j/jul-to-slf4j {:mvn/version "1.7.36"}
  org.slf4j/jcl-over-slf4j {:mvn/version "1.7.36"}
  io.aviso/pretty {:mvn/version "1.1.1"}
  aero/aero {:mvn/version "1.1.6"}}

 :deps/prep-lib
 {:ensure "target/classes"
  :alias :build
  :fn javac}

 :aliases
 {:build
  {:deps {org.clojure/clojure {:mvn/version "1.11.1"}
          org.slf4j/slf4j-api {:mvn/version "1.7.36"}
          org.clojure/tools.build {:mvn/version "0.8.4"}
          ;; TODO: change this back to the main repo once https://github.com/slipset/deps-deploy/pull/53 is merged
          slipset/deps-deploy {:git/url "https://github.com/greglook/deps-deploy.git"
                               :git/sha "a138ef59c1239336034c69624458f5b100ac835b"}}
   :ns-default build}

  :repl
  {:extra-paths ["dev" "test"]
   :extra-deps {org.clojure/tools.logging {:mvn/version "1.2.4"}
                org.clojure/tools.namespace {:mvn/version "1.3.0"}
                criterium/criterium {:mvn/version "0.4.6"}
                mvxcvi/puget {:mvn/version "1.3.2"}}
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
              "-Ddialog.profile=repl"]
   :main-opts ["-e" "(require,'puget.printer)"
               "-e" "(clojure.main/repl,:init,#(do,(require,'dialog.repl),(in-ns,'dialog.repl)),:print,puget.printer/cprint)"]}

  :check
  {:extra-deps {io.github.athos/clj-check {:git/sha "0ca84df1357d71429243b99908303f45a934654c"}}
   :main-opts ["-m" "clj-check.check" "src/clojure"]}

  :test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}}
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"
              "-Duser.language=en"
              "-Duser.country=US"]
   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-paths ["test"]
   :extra-deps {cloverage/cloverage {:mvn/version "RELEASE"}}
   :jvm-opts ["-Duser.language=en"
              "-Duser.country=US"]
   :main-opts ["-m" "cloverage.coverage"
               "--src-ns-path" "src/clojure"
               "--test-ns-path" "test"
               "--ns-exclude-regex" "dialog.util"]}

  :hiera
  {:deps {io.github.greglook/clj-hiera {:git/tag "2.0.0", :git/sha "b14e514"}}
   :exec-fn hiera.main/graph
   :exec-args {:cluster-depth 2}}}}
